body {
    background-image: linear-gradient(darkgrey, lightgrey);
    height: 100vh;
}

#background {
    background-color: rgb(125, 129, 142);
    padding-top: 150px;
    padding-bottom: 150px;
    text-shadow: 3px 4px 2px rgba(0, 0, 0, 0.292);
    color: rgb(0, 0, 0);
}

header h1{
    animation: visibility 3s steps(40, end);
    animation: shadow-visibility 3s steps(40, end);
}

header p {
    font-weight: bold;
    animation: visibility 6s steps(40, end);
    animation: shadow-visibility 6s steps(40, end);
}

/* work on text and shadow appearance animations */
.text_animate {
    font-weight: bold;
    animation: visibility 5s steps(40, end);
    animation: shadow-visibility 5s steps(40, end);
    
}

@keyframes visibility {
    from { opacity: 0;}
    to { opacity: 1;}
}

@keyframes shadow-visibility {
    from { opacity: 0;}
    to { opacity: 1;}
}

body {
    text-align: center;
}