nav a {
    color: darkgray;
}

nav a:hover {
    color: rgb(231, 231, 231);
}

nav a:active {
    color: rgb(58, 58, 58);
}

body {
    padding-left: 10%;
    background-color: #3e4d64;
    /*background-image: linear-gradient(#2f3d54, #556781); */
    height: 100vh;
    padding-top: 150px;
    padding-bottom: 150px;
    text-shadow: 3px 4px 2px rgba(0, 0, 0, 0.623);
    color: rgba(255, 255, 255, 0.785);
    overflow: hidden;  /* this might change later*/
    font-family: sans-serif;
}

#card {
    margin-left: 10%;
    margin-right: auto;
}

/* note: fix animations! */
main h1{
    letter-spacing: 2px;
    font-size: 50px;
    animation: visibility 3s steps(40, end);
    animation: shadow-visibility 2.5s;
}

main p {
    letter-spacing: 1px;
    animation: visibility 2s;
    animation: shadow-visibility 2s;
}

@keyframes visibility {
    from { opacity: 0;}
    to { opacity: 1;}
}

@keyframes shadow-visibility {
    from { opacity: 0;}
    to { opacity: 1;}
}